html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


table {
    width: 100%;
    height: 100%;
    border-collapse: collapse; 
    border: 1px solid black;   
}


td {
    width: 50%;
}

.cell-green {
    background-color: #C0CA83;
}

.cell-orange {
    background-color: #F6C0A8;
}